:root{
    --navbar-primary-bg: #091feb;
    --nav-secondary-bg: #f6f6f6;
    --nav-text-color: #f6f6f6;
    --primary-bg: #0e21ca;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
span{
    display: block;
}
html {
  scroll-behavior: smooth;
}
.api{
    height: 60px;
    width: 220px;
    border-radius: 10px;
    border: 1px solid black;
    position: fixed;
    top: 10px;
    right: 10px;
}
/* navbar */
.navbar{
    background-color: var(--navbar-primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70%;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    transition: top 500ms ease;
    border-radius: 10px;
}
.navbar nav{
    background-color: var(--navbar-primary-bg);
    height: 100%;
    width: 98%;
}
.navbar nav .navlinks{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar nav .navlinks li a:link,
.navbar nav .navlinks li a:visited,
.navbar nav .navlinks li a:active {
    color: var(--nav-text-color);
}
.navbar .devName,
.navbar .menu,
.navbar .closeBtn{
    display: none;
}

/* home */
.home{
    height: 100vh;
    width: 100%;
    display: flex;
}
.home .cont-container{
    height: 100%;
    width: 50%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home .cont-container .content-sec{
    width: 80%;
    height: fit-content;
}
.home .cont-container .content-sec .contentbox1{
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: center;
}
.home .cont-container .content-sec .contentbox1 p:nth-child(1){
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    animation: blink 2s infinite forwards;
    border: 1px solid gray;
    margin-left: 10px;
}
.home .cont-container .content-sec .contentbox2{
    margin-top: 1rem;
    height: fit-content;
}
.home .cont-container .content-sec .contentbox2 h1{
    font-size: 4rem;
    font-family: Impact, sans-serif;
}
.home .cont-container .content-sec .contentbox2 p{
    font-size: 2.8rem;
}
.home .cont-container .content-sec .contentbox3{
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.home .cont-container .content-sec .contentbox3 a{
    color: purple;
    text-indent: 1rem;
}
.home .cont-container .content-sec .contentbox3 #knowmore{
    text-indent: 0;
    margin-left: 1rem;
    height: 60px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color:  white;
    border-radius: 8px;

}
@keyframes blink {
    to{
        scale: 1.5;
        border: 1.2px solid rgb(88, 88, 88);
    }
}
.home .img-sec{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .img-sec .img-container{
    display: grid;
    place-items: center;
}
.home .img-sec .img-container .img-wrapper{
    height: 350px;
    width: 350px;
    background: #80808050;
    border-radius: 50%;
}
.experience{
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience .experience-container{
    height: 70%;
    width: 90%;
}
.experience .experience-container h1{
    height: 60px;
    text-align: center;
    margin: 1rem;
}
.experience .career-card{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.experience .experience-container .career-card .card{
    height: 360px;
    width: 360px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dotted gray;
    padding: 1rem;
}
.experience .experience-container .career-card .card:nth-child(2){
    height: 460px;
}
.experience .experience-container .career-card .card i{
    display: none;
}
.experience .experience-container .career-card .card .header{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.experience .experience-container .career-card .card .header h2{
    font-size: 1.4rem;
    font-weight: 400;
}
.experience .experience-container .career-card .card .header h3{
    font-size: 1rem;
    font-weight: 400;
}
.experience .experience-container .career-card .card .details{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience .experience-container .career-card .card .details div{
    width: 50%;
}
.experience .experience-container .career-card .card .info{
    height: 180px;
    width: 100%;
    text-align: justify;
    padding-top: 1rem;
}
.projects{
    height: 80vh;
    width: 100%;
    
}

.skills{
    max-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .skills-container{
    height: 70%;
    width: 90%;
}
.skills .skills-container h1{
    height: 60px;
    text-align: center;
    margin: 1rem;
}
.skills .skills-container .skill-boxs{
    min-height: 200px;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.aboutme{
    min-height: 70vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutme h1{
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 1rem;
}
.aboutme h2{
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 1rem;
}
.aboutme .aboutme-container{
    margin-bottom: 2rem;
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50px 120px 150px 200px;
    grid-template-areas: 
    "moto moto"
    "self-intro img"
    "interest img"
    "education img";
    place-content: center;
    gap: 1rem;
}
.aboutme .aboutme-container .moto ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
}
.aboutme .aboutme-container .self-intro p{
    text-indent: 3rem;
    text-align: justify;
    width: 90%;
}
.aboutme .aboutme-container .interest{
    display: flex;
    flex-direction: column;
}
.aboutme .aboutme-container .interest h2{
    text-align: left;
    margin: 0;
}
.aboutme .aboutme-container .interest ul{
    margin-left: 120px;
}
.aboutme .aboutme-container .interest ul li{
    list-style-type: disc;
}
.aboutme .aboutme-container .education{
    display: flex;
    justify-content: flex-start;
}
.aboutme .aboutme-container .education .card1,
.aboutme .aboutme-container .education .card2{
    height: 100%;
    height: max-content;
    width: 50%;
}
.aboutme .aboutme-container .education .card1 .header,
.aboutme .aboutme-container .education .card2 .header{
    width: 100%;
    height: fit-content;
}
.aboutme .aboutme-container .education .card1 .header h1,
.aboutme .aboutme-container .education .card2 .header h1{
    min-height: 40px;
    height: auto;
    margin: 0;
    text-align: left;
    font-size: 1.4rem;
}
.aboutme .aboutme-container .education .card1 .header h2,
.aboutme .aboutme-container .education .card2 .header h2{
    min-height: 30px;
    height: auto;
    margin: 0;
    text-align: left;
    font-size: 1rem;
}
.aboutme .aboutme-container .img-container{
    height: 100%;
    width: 100%;
    background-color: yellow;
    border-radius: 10px;
}
.aboutme .aboutme-container .education .card1 .cgpa,
.aboutme .aboutme-container .education .card2 .cgpa{
    width: 100%;
    height: fit-content;
}
.aboutme .aboutme-container .education .card1 .result,
.aboutme .aboutme-container .education .card2 .result{
    width: 100%;
    height: fit-content;
}

.contactme{
    min-height: 40vh;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0019f7;
    flex-wrap: wrap;
    color: white;
}
.contactme .contactme-container{
    height: 100%;
    width: 90%;
    display: flex;
}
.contactme .contactme-container .card1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactme .contactme-container .card1 ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 120px;
}
.contactme .contactme-container .card1 ul li{
    list-style-type: disc;
}
.contactme .contactme-container .card1 ul li a{
    color: white;
    text-decoration: underline;
}
.contactme .contactme-container .card2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.contactme .contactme-container .card2 form{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}
.contactme .contactme-container .card2 form input{
    max-height: 45px;
    min-height: 35px;
    min-width: 260px;
    max-width: 310px;
    border: none;
    border-radius: 5px;
    text-indent: 8px;
    outline: none;
}
.contactme .contactme-container .card2 form textarea{
    resize: none;
    height: 90px;
    max-width: 310px;
    min-width: 260px;
    text-indent: 8px;
    border-radius: 5px;
    outline: none;
}
.contactme .contactme-container .card2 form button{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 7px;
    font-weight: 700;
}



@media only screen and (min-width: 769px) and (max-width: 1024px){
    .home .cont-container .content-sec .contentbox2 h1{
        font-size: 2rem;
    }
    .home .cont-container .content-sec .contentbox2 p{
        font-size: 1.5rem;
    }
    .home .cont-container .content-sec .contentbox3 #knowmore{
        height: 45px;
        width: 120px;
    }    
    .aboutme .aboutme-container{
        grid-template-rows: 50px 210px 150px 350px;
    }
    .aboutme .aboutme-container .self-intro{
        height: fit-content;
    }
}

@media only screen and (max-width:768px){
    .navbar{
        width: 100%;
        top: 0;
        border-radius: 0;
        background: var(--primary-bg);
    }
    .navbar .devName{
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        color: var(--nav-text-color);
        align-items: center;
        justify-content: center;
        order: 1;
        border-bottom: 1px solid rgb(207, 207, 207);
    }
    .navbar nav{
        position: absolute;
        top: 0;
        min-height: 35vh;
        height: fit-content;
        width: 100%;
        display: none;
    }
    .navbar nav .closeBtn{
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
        cursor: pointer;
    }
    .navbar nav .navlinks{
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .navbar .menu{
        /* display: block; */
        width: 20%;
        height: 100%;
        z-index: 100;
        order: 2;
    }
    .home{
        flex-direction: column;
        height: 90vh;
    }
    .home .cont-container{
        order: 2;
        width: 100%;
        height: 50%;
    }
    .home .cont-container .content-sec{
        width: 70%;
        justify-content: center;
    }
    .home .cont-container .content-sec .contentbox1{
        width: 100%;
        justify-content: center;
    }
    .home .cont-container .content-sec .contentbox2 h1{
        font-size: 2rem;   
        margin-top:.5rem;
        text-align: center; 
    }
    .home .cont-container .content-sec .contentbox2 p{
        font-size: 1.2rem;
        text-align: center;
    }
    .home .cont-container .content-sec .contentbox3{
        justify-content: center;
        flex-wrap: wrap;
    }
    .home .cont-container .content-sec .contentbox3 #knowmore{
        height: 40px;
        width: 120px;
    }
    .experience .experience-container h1{
        min-height: 60px;
        height: fit-content;
        text-align: center;
        margin: 1rem;
    }
    .experience .experience-container .career-card .card{
        height: 180px;
        width: 320px;
        justify-content: flex-start;
        position: relative;
        overflow: hidden;
    }
    .experience .experience-container .career-card .card.active{
        height: fit-content;
    }
    .experience .experience-container .career-card .card i{
        display: block;
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
    }
    .experience .experience-container .career-card .card .details div{
        width: 50%;
        text-align: left;
    }
    .aboutme h1{
        height: 30px;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .aboutme h2{
        height: 30px;
        width: 100%;
        text-align: center;
        margin-top: 14px;
    }
    .aboutme .aboutme-container{
        grid-template-columns: 100%;
        grid-template-rows: 160px 200px 120px 300px 320px;
        grid-template-areas: 
        "moto"
        "img"
        "interest"
        "self-intro"
        "education";
    }
    .aboutme .aboutme-container .moto ul{
        gap: 0;
        font-size: 1.2rem;
        flex-direction: column;
    }
    .aboutme .aboutme-container .moto ul i{
        transform: rotate(90deg);
        font-size: 1rem;
    }
    .aboutme .aboutme-container .education{
        flex-direction: column;
        gap: 1rem;
    }
    .aboutme .aboutme-container .education .card1{
        width: 100%;
    }
    .aboutme .aboutme-container .education .card2{
        width: 100%;
    }
    .aboutme .aboutme-container .self-intro p{
        width: 100%;
    }
    .contactme .contactme-container{
        flex-direction: column;
        align-items: center;
    }
    .contactme .contactme-container .card1{
        margin: 1.5rem;
        width: 100%;
        height: 50%;
    }
    .contactme .contactme-container .card2{
        width: 100%;
        height: 50%;
    }
    .contactme .contactme-container .card2 h3{
        width: 100%;
        height: 40px;
        text-align: center;
    }
}