:root{
    --navbar-primary-bg: #091feb;
    --nav-secondary-bg: #f6f6f6;
    --nav-text-color: #f6f6f6;
    --primary-bg: #0e21ca;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
span{
    display: block;
}

/* navbar */
.navbar{
    background-color: var(--navbar-primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70%;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    transition: top 500ms ease;
    border-radius: 10px;
}
.navbar nav{
    background-color: var(--navbar-primary-bg);
    height: 100%;
    width: 98%;
}
.navbar nav .navlinks{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar nav .navlinks li a:link,
.navbar nav .navlinks li a:visited,
.navbar nav .navlinks li a:active {
    color: var(--nav-text-color);
}
.navbar .devName,.menu{
    display: none;
}

@media only screen and (max-width: 920px){
    .navbar{
        width: 85%;
    }
    .navbar .devName{
        display: block;
        text-indent: 30px;
        width: 80%;
        order: 1;
        color: var(--nav-text-color);
    }
    .navbar .devName h1{
        font-weight: 600;
        font-size: 22px;
    }
    .navbar nav{
        width: 70%;
        order: 3;
        height: max-content;
        position: absolute;
        left: 150%;
        top: 80px;
        transition: left 600ms;
    }
    .navbar nav.active{
        left: 30%;
    }
    .navbar nav .navlinks{
        flex-direction: column;
        gap: 2em;
    }
    .navbar nav .navlinks{
        padding: 15px 0px;
    }
    .navbar .menu{
        order: 2;
        height: 60px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        cursor: pointer;
    }
    .navbar .menu .menubar{
        height: 4px;
        width: 30px;
        border-radius: 5px;
        background-color: white;
        transition: all 600ms ease;
    }
}

/* home */
.home{
    height: 100vh;
    width: 100%;
    display: flex;
}
.home .cont-sec{
    height: 100%;
    width: 50%;
    position: relative;
    background-color: red;
}
.home .cont-sec span{
    position: absolute;
    top:50%;
}
.home .cont-sec span:nth-child(1) h1{
    height: 40px;
    width: fit-content;
}
.home .img-sec{
    height: 100%;
    width: 50%;
    background-color: blue;
}
@media only screen and (max-width: 768px){
    .home{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .home .cont-sec{
        width: 100%;
        height: 40%;
    }
    .home .img-sec{
        width: 100%;
        height: 60%;
    }
}

/* Experience */
.experience{
    min-height: 50vh;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
}
.experience h1{
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    margin: 20px;
}
.experience .career-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-bottom: 20px;
    overflow-y: hidden;
}
.experience .career-card .card{
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
    min-width:250px;
    width: 360px;
    height: 280px;
}
.experience .career-card .card .header{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:10px;
}
.experience .career-card .card .duration {
    display: flex;
    gap: 1rem;
}
.experience .career-card .card .duration span:first-child{
    font-weight:600;
    color:#333;
}
.experience .career-card .card .details{
    display:flex;
    gap:30px;
    margin:15px 0;
}
.experience .career-card .card .highlight{
    color:#d33737;
    font-weight:700;
}
.experience .career-card .card .gtech{
    color:#2563eb;
    font-weight:600;
}
.experience .career-card .card p{
    display: inline;
    text-align: justify;
}
@media only screen and (max-width: 630px){
    .experience h1{
        height: 80px;
        padding-top: 0;
    }
    .experience .career-card .card{
        background:#fff;
        padding:25px;
        border-radius:12px;
        box-shadow:0 4px 15px rgba(0,0,0,.1);
        width:250px;
        min-height: 280px;
        height: auto;
}
}

/* skills */
.skills{
    min-height: 40vh;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills .heading-1{
    width: 100%;
    height: 80px;
    display: grid;
    place-content: center;
}
.skills .skill-boxs{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.skills .skill-boxs .skill-box{
    height: 120px;
    width: 120px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:870px){
    .skills .skill-boxs{
        gap: 50px;
    }
    .skills .skill-boxs .skill-box{
        margin: 5px;
    }
    .skills .skill-boxs .skill-box:nth-child(1), .skill-box:last-of-type{
        margin-top: 20px;
    }
}

